{% extends 'main/layoute.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>КОСМОС</h1>
<p>Добро пожаловать на сайт!</p>
 <p>Загадочный и бесконечный, космос манит своим величием и тайнами.
    Миллиарды звезд, разбросанных по галактикам, формируют картины,
    которые мы лишь начинаем понимать. Темные материи, черные дыры,
    экзопланеты — всё это поражает наше воображение. Каждая звезда,
    светящаяся в ночи, напоминает нам о том, насколько огромен и неизведан наш мир.
    Космос — это не просто пустота, это место, где рождаются звезды, галактики и,
    возможно, новые формы жизни. Он зовет нас исследовать и понимать,
    кто мы в этом бесконечном пространстве.</p>
{% endblock %}