{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
 {% load static %}
 <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
     <!-- Основной контейнер -->
    <div class="container-fluid">
        <div class="row">
            <!-- Боковая панель -->
            <aside class="col-md-3 col-lg-2 bg-light p-3 border-end">
                <div class="text-center mb-4">

                {% load static %}
                    <img src="{% static 'main/img/Космос1.jpeg' %}" alt="Далекие планеты" class="img-fluid rounded-circle" width="150">
                    <h5 class="mt-3">Land Unveiled</h5>
                </div>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link active">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'new' %}" class="nav-link">Вторая страница</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'page3' %}" class="nav-link">Третья страница</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'page4' %}" class="nav-link">Четвертая страница</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'news_home' %}">Новостная страница</a>
                    </li>
                </ul>
            </aside>

            <!-- Основной контент -->
            <main class="col-md-9 col-lg-10 p-4">
                {% block content %}

                {% endblock %}
            </main>
        </div>
    </div>

    <!-- Включаем подвал -->
    {% include 'main/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>