{% extends 'main/layoute.html' %}

{% block title %}Вторая страница{% endblock %}

{% block content %}
<h1>Планета Земля</h1>
<p>Наша планета Земля.</p>
<p>Земля — наш дом, уникальная планета, на которой зародилась жизнь.
    Богатая биосфера, разнообразие климатических зон и бесчисленное
    количество видов живых существ делают Землю поистине уникальной.
    Мы живем в симбиозе с природой, но одновременно и воздействуем на неё.
    Горы, океаны, леса и пустыни — всё это формирует облик нашей планеты,
    которую нам необходимо сохранять. Земля дарит нам ресурсы и вдохновение,
    а наша задача — научиться жить в гармонии с ней,
    чтобы сохранить её для будущих поколений.</p>
{% endblock %}