{% extends 'main/layout.html' %}

{% block title %}Страница 3{% endblock %}

{% block content %}
<h1>Красная планета - Марс</h1>
<p>МАРС</p>
<p>Марс, Красная планета, одна из самых загадочных и изучаемых планет Солнечной системы.
    Ученые мечтают о том, чтобы раскрыть его тайны и, возможно, сделать его вторым домом
    для человечества. Пыльные бури, гигантские вулканы и глубокие каньоны — все это создает
    удивительный ландшафт, который мы только начинаем исследовать. Миссии, отправляемые на Марс,
    каждый раз приносят новые данные, которые приблизят нас к разгадке вопроса:
    была ли когда-то жизнь на этой планете? Марс — это не только наш будущий рубеж,
    но и ключ к пониманию эволюции планет.</p>
{% endblock %}