{% extends 'main/layout.html' %}

{% block title %}Страница 4{% endblock %}

{% block content %}
<h1>Спутник Земли Луна 2</h1>
<p>ЛУНА.</p>
<p>Луна, наш вечный спутник, — это не просто небесное тело,
    а часть нашего культурного и научного наследия.
    Она влияла на приливы и отливы, вдохновляла поэтов и художников,
    а также стала первой целью космических миссий человечества.
    Несмотря на её кажущуюся простоту, Луна хранит множество тайн —
    от её происхождения до влияния на земную жизнь. Каждый её фазовый переход —
    от новолуния до полнолуния — напоминает нам о цикличности природы.
    В будущем Луна может стать плацдармом для дальнейших космических исследований и полетов.</p>
{% endblock %}